DATABASE_URL="mongodb+srv://umuhoza:umuhoza@cluster0.lq8fbsl.mongodb.net/credit-jambo"
SECRET_KEY="credit-jambo-dpo"
SERVER_PORT=4000
JWT_REFRESH_SECRET="credit-jambo-refresh"
JWT_SECRET="credit-jambo-secret"
JWT_EXPIRES_IN="2h"
JWT_REFRESH_EXPIRES_IN="5h"
NODE_ENV="development"
NODE_VERSION="18.x"
